<ui:composition template="/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="conteudo">
		
		<h:form id="cadastroForm">
		
			<h:panelGrid columns="3">
				<h:outputLabel id="nomeLabel" value="Nome*:" for="inputNome" />
				<h:inputText id="inputNome" value="#{agendaBean.contato.nome}" />
				<h:message for="inputNome" />
								
				<h:outputLabel id="emailLabel" value="E-mail*:" for="inputEmail" />
				<h:inputText id="inputEmail" required="true" value="#{agendaBean.contato.email}" />
				<h:message for="inputEmail" />				
								
				<h:outputLabel id="dtNascimentoLabel" value="Data de Nascimento:" for="inputDtNascimento" />
				<h:inputText id="inputDtNascimento" value="#{agendaBean.contato.dataDeNascimento}" />
				<h:message for="inputDtNascimento" />					
								
				<h:outputLabel id="idadeLabel" value="Idade:" for="inputIdade" />
				<h:inputText id="inputIdade" value="#{agendaBean.contato.idade}" />
				<h:message for="inputIdade" />					
								
				<h:commandButton value="Cadastrar" action="#{agendaBean.cadastrarContato}"  /> 
		
			</h:panelGrid>
		
		</h:form>
				
		
	</ui:define>
	
</ui:composition>
