<ui:composition template="/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="conteudo">
		
		<h:dataTable value="#{agendaBean.contatos}" var="c" > 

			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome" />
				</f:facet>
				<h:outputText value="#{c.nome}" />
			</h:column>	
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="E-mail" />
				</f:facet>
				<h:outputText value="#{c.email}" />
			</h:column>		
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Data de Nascimento" />
				</f:facet>
				<h:outputText value="#{c.dataDeNascimento}" />
			</h:column>		
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Idade" />
				</f:facet>
				<h:outputText value="#{c.idade}" />
			</h:column>			
		
			<h:column>
				<f:facet name="header">
					<h:outputText value="Ações" />
				</f:facet>
				
				<h:form>
					<h:commandButton value="Excluir" action="#{agendaBean.removerContato(c)}"/>
					<h:commandButton value="Alterar" action="#{agendaBean.prepararEdicao(c)}"/>
				</h:form>
			</h:column>
		
		</h:dataTable>
		
	</ui:define>
	
</ui:composition>
