<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
  <title><ui:insert name="titulo">Agenda iDEZ</ui:insert></title>
</head>

<body>

	<ui:insert name="cabecalho">
		<h2>Agenda iDEZ</h2>
		<hr />
	</ui:insert>

	<ui:insert name="conteudo">
		insira aqui o conteúdo da sua página;
	</ui:insert>

	<ui:insert name="rodape">
		<hr />
		<p align="right">Desenvolvido na disciplina DSW</p>
	</ui:insert>

</body>

</html>
